<launch>
  
    <arg name="tf_namespace"              default="drone31"/>
    <arg name="device_type_camera_f"      default="d4.5"/>
    <arg name="camera_f"                  default="cam1"/>              <!-- Note: Replace with camera name -->
    <arg name="clip_distance"             default="-2"/>
    <arg name="tf_prefix_camera_f"        default="$(arg tf_namespace)/$(arg camera_f)"/>

    <arg name="initial_reset"             default="true"/>
    <arg name="enable_fisheye"            default="false"/>
    <arg name="color_width"               default="640"/>
    <arg name="color_height"              default="480"/>
    <arg name="depth_width"               default="640"/>
    <arg name="depth_height"              default="480"/>
    <arg name="topic_odom_in"             default="odom_in"/>
    <arg name="calib_odom_file"           default=""/>
    <arg name="d435_imu_unite"            default="linear_interpolation"/>
    <arg name="t265_imu_unite"            default="copy"/>
    <arg name="gyro_fps_d435"             default="400"/>
    <arg name="accel_fps_d435"            default="250"/>
    
    <!-- This value used here for the exposure is specifically tuned for the ARPL flying arena when all lights are switched on -->
    <param name="/cam1/stereo_module/exposure"        value="2500"/>
    <param name="/cam1/stereo_module/emitter_enabled" value="0"/>
    <group ns="$(arg camera_f)">
      <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
        <arg name="device_type"                 value="$(arg device_type_camera_f)"/>
        <arg name="tf_prefix"                   value="$(arg tf_prefix_camera_f)"/>
        <arg name="initial_reset"               value="$(arg initial_reset)"/>
        <arg name="align_depth"                 value="false"/>
        <arg name="enable_infra1"               value="true"/>
        <arg name="enable_infra2"               value="true"/>
        <arg name="enable_accel"                value="true"/>
        <arg name="enable_gyro"                 value="true"/>
        <arg name="enable_depth"                value="false"/>
        <arg name="color_width"                 value="$(arg color_width)"/>
        <arg name="color_height"                value="$(arg color_height)"/>
        <arg name="depth_width"                 value="$(arg depth_width)"/>
        <arg name="depth_height"                value="$(arg depth_height)"/>
        <arg name="clip_distance"               value="$(arg clip_distance)"/>
      </include>
    </group>


</launch>
